.versionBtn {
  background: linear-gradient(96.48deg,
      #165dff -1.4%,
      rgba(22, 93, 255, 0.66) 34.6%,
      #165dff 56.44%,
      #165dff 100.31%);
  font-weight: 500;
}

.popover {
  background: linear-gradient(181.017deg,
      rgba(152, 199, 255, 0.48) 1.5241%,
      rgba(255, 255, 255, 0.424) 27.629%),
    linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
}