// .ant-alert-success {
//   border-radius: 6px;
//   border: 0.5px solid #dcdcdc;
//   background: rgba(210, 207, 255, 0.77);
//   box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.69) inset;
//   backdrop-filter: blur(3.950000047683716px);
//   color: #0a1a3a;
//   font-size: 18px;
//   font-weight: 500;
//   .ant-alert-icon {
//     color: #5769ff;
//   }
// }
.ant-popover {
  .ant-popover-inner {
    padding: 0;
  }
}

.input-no-border {
  border: none !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-1u5blvf).ant-table-wrapper .ant-table-column-sorters {
  display: inline-flex;
}

:where(.css-dev-only-do-not-override-1u5blvf).ant-pagination .ant-pagination-item {
  border-radius: 2px;
}

:where(.css-dev-only-do-not-override-1u5blvf).ant-modal .ant-modal-content,
:where(.css-dev-only-do-not-override-1v5z42l).ant-modal .ant-modal-content {
  padding: 24px;
}

:where(.css-dev-only-do-not-override-1u5blvf).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-1u5blvf).ant-input-outlined:focus-within {
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-1u5blvf).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector:hover,
:where(.css-dev-only-do-not-override-1u5blvf).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector:focus,
.ant-select-focused:where(.css-dev-only-do-not-override-1u5blvf).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: #bedaff !important;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-1u5blvf).ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #e8f3ff;
}

:where(.css-dev-only-do-not-override-1u5blvf).ant-select-dropdown {
  padding: 6px !important;
}

:where(.css-dev-only-do-not-override-1u5blvf).ant-modal .ant-modal-close:hover {
  background-color: #fff;
}

.ant-picker-panel-layout,
.ant-picker-input input,
.ant-select-item-option-content {
  font-size: 16px !important;
}

// 添加 Select placeholder 样式
.ant-select-selection-placeholder,
:where(.css-dev-only-do-not-override-1u5blvf).ant-select .ant-select-selection-placeholder,
.ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-placeholder {

  // font-size: 16px !important;
  // .ant-form-item-label {
  //   label {
  //     font-size: 18px !important;
  //     font-weight: 500 !important;
  //   }
  // }
  .ant-form-item-required {
    &::before {
      display: none !important;
    }
  }

  .ant-input.ant-input-status-success {
    border-color: #bedaff !important;
  }

  .ant-select-status-success .ant-select-selector {
    border-color: #bedaff !important;
  }
}

:where(.css-dev-only-do-not-override-1u5blvf).ant-input-outlined:focus-within {
  border-color: #40a9ff;
}

.custom-table .ant-table-column-sorters {
  display: inline-flex;
}

// .ant-select-selector {
//   color: #616373 !important;
//   padding-inline-end: 0px !important;
//   padding: 12px 4px !important;
// }

/* 按钮样式重置 - 覆盖所有可能的状态 */
// button.ant-btn,
// .ant-btn,
// :where(.css-dev-only-do-not-override-1u5blvf).ant-btn,
// :where(.css-dev-only-do-not-override-1v5z42l).ant-btn,
// .ant-btn.ant-btn-default,
// .ant-btn.ant-btn-primary,
// button[type='button'].ant-btn {
//   &:focus,
//   &:active,
//   &:focus-visible,
//   &:focus:enabled,
//   &:active:enabled,
//   &.active,
//   &::after,
//   &:not(.ant-btn-disabled):active,
//   &:not(.ant-btn-disabled):hover,
//   &:not(.ant-btn-disabled):focus {
//     outline: none !important;
//     box-shadow: none !important;
//     border-color: transparent !important;
//     text-shadow: none !important;
//   }
// }

/* 自定义 Popover 样式 */
.custom-popover .ant-popover-inner {
  border-radius: 12px;
  border: 1px solid #d2c9ff;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-popover,
:where(.css-2ug2yc).ant-popover {
  margin-top: 20px;
  font-family: 'Inter ';
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
:where(.css-2ug2yc).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: #dfe0eb;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-btn-variant-text,
:where(.css-2ug2yc).ant-btn-variant-text {
  font-family: 'Inter ' !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-pagination .ant-pagination-item,
:where(.css-2ug2yc).ant-pagination .ant-pagination-item {
  border: none;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-modal .ant-modal-content,
:where(.css-dev-only-do-not-override-1bragus).ant-modal .ant-modal-content,
:where(.css-1bragus).ant-modal .ant-modal-content,
:where(.css-2ug2yc).ant-modal .ant-modal-content {
  padding: 24px;
  border-radius: 6px;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-progress.ant-progress-status-success .ant-progress-bg,
:where(.css-2ug2yc).ant-progress.ant-progress-status-success .ant-progress-bg {
  height: 6px !important;
}

.ant-modal-content,
.ant-modal-title,
.ant-modal-body,
.ant-modal-footer,
button {
  font-family: 'Inter ';
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-modal .ant-modal-footer>.ant-btn+.ant-btn,
:where(.css-2ug2yc).ant-modal .ant-modal-footer>.ant-btn+.ant-btn {
  margin-inline-start: 24px;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-btn,
:where(.css-2ug2yc).ant-btn {
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox-checked .ant-checkbox-inner,
:where(.css-2ug2yc).ant-checkbox-checked .ant-checkbox-inner {
  background-color: #3d7fff;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-typography,
:where(.css-2ug2yc).ant-typography {
  font-family: 'Inter ' !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state,
:where(.css-2ug2yc).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
  color: #0C99FF;
}

.ant-picker-panel-layout,
.ant-picker-input input,
.ant-select-item-option-content {
  font-size: 14px !important;
}

.ant-select-focused:where(.css-dev-only-do-not-override-2ug2yc).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  // border: none !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector,
:where(.css-dev-only-do-not-override-2ug2yc).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector,
:where(.css-2ug2yc).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover,
.ant-select-selector,
:where(.css-2ug2yc).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  // border: none !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-switch.ant-switch-checked,
:where(.css-2ug2yc).ant-switch.ant-switch-checked,
:where(.css-dev-only-do-not-override-2ug2yc).ant-tree .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner:after,
:where(.css-2ug2yc).ant-tree .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner:after {
  background-color: #0C99FF;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled),
:where(.css-2ug2yc).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(0, 0, 0, 0.04);
}

:where(.css-dev-only-do-not-override-vrrzze).ant-btn-variant-solid {
  background-color: #0C99FF;
  color: #ffffff;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-btn-variant-solid:not( :disabled):not(.ant-btn-disabled):hover {
  background-color: #0C99FF;
  color: #ffffff;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector,
.ant-select-focused:where(.css-dev-only-do-not-override-2ug2yc).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector,
:where(.css-2ug2yc).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector,
.ant-select-focused:where(.css-2ug2yc).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector,
._permissionSidebar_rtwt7_3 ._selectUser_rtwt7_6 .ant-select-selector,
:where(.css-dev-only-do-not-override-2ug2yc).ant-tree .ant-tree-checkbox:not(.ant-tree-checkbox-disabled):hover .ant-tree-checkbox-inner,
:where(.css-2ug2yc).ant-tree .ant-tree-checkbox:not(.ant-tree-checkbox-disabled):hover .ant-tree-checkbox-inner,
:where(.css-dev-only-do-not-override-2ug2yc).ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner,
:where(.css-2ug2yc).ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  border-color: #0C99FF !important;
}

:where(.css-2ug2yc).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
  color: #0C99FF !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-input-number-outlined:hover,
:where(.css-dev-only-do-not-override-2ug2yc).ant-input-number-outlined:focus,
:where(.css-dev-only-do-not-override-2ug2yc).ant-input-number-outlined:focus-within,
:where(.css-2ug2yc).ant-input-number-outlined:hover,
:where(.css-2ug2yc).ant-input-number-outlined:focus,
:where(.css-2ug2yc).ant-input-number-outlined:focus-within {
  border-color: #0C99FF !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-select-dropdown,
:where(.css-2ug2yc).ant-select-dropdown {
  padding: 10px !important;
}

.rc-virtual-list-holder-inner {
  gap: 4px !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
:where(.css-2ug2yc).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
  padding: 0 !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-tag .ant-tag-close-icon,
:where(.css-2ug2yc).ant-tag .ant-tag-close-icon {
  color: #c4c8cc !important;
  margin-left: 4px;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-radio-wrapper:hover .ant-radio-inner,
:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox-checked .ant-checkbox-inner,
:where(.css-2ug2yc).ant-checkbox-checked .ant-checkbox-inner,
:where(.css-2ug2yc).ant-radio-wrapper:hover .ant-radio-inner,
:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner,
:where(.css-2ug2yc).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
:where(.css-2ug2yc).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color: #0C99FF !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-radio-wrapper .ant-radio-checked .ant-radio-inner,
:where(.css-2ug2yc).ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #0C99FF !important;
  background-color: #ffffff !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after,
:where(.css-2ug2yc).ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after,
:where(.css-dev-only-do-not-override-2ug2yc).ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner,
:where(.css-2ug2yc).ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  background-color: #0C99FF !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-radio-wrapper .ant-radio:not(.ant-radio-checked) .ant-radio-inner::after,
:where(.css-2ug2yc).ant-radio-wrapper .ant-radio:not(.ant-radio-checked) .ant-radio-inner::after {
  background-color: #c4c8cc !important;
  transform: scale(0.4) !important;
  opacity: 1 !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-radio-wrapper .ant-radio-inner::after,
:where(.css-2ug2yc).ant-radio-wrapper .ant-radio-inner::after,
:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox-checked .ant-checkbox-inner,
:where(.css-2ug2yc).ant-checkbox-checked .ant-checkbox-inner {
  background-color: #0C99FF !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner:after,
:where(.css-2ug2yc).ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner:after,
:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox .ant-checkbox-input:checked+.ant-checkbox-inner::after,
:where(.css-2ug2yc).ant-checkbox .ant-checkbox-input:checked+.ant-checkbox-inner::after {
  border-color: #000000 !important;
}

.ant-tree-title {
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox+span,
:where(.css-2ug2yc).ant-checkbox+span {
  padding-inline-end: 0;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
:where(.css-2ug2yc).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
  padding: 0 !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-tag .ant-tag-close-icon,
:where(.css-2ug2yc).ant-tag .ant-tag-close-icon {
  color: #c4c8cc !important;
  margin-left: 4px;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-radio-wrapper:hover .ant-radio-inner,
:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox-checked .ant-checkbox-inner,
:where(.css-2ug2yc).ant-checkbox-checked .ant-checkbox-inner,
:where(.css-2ug2yc).ant-radio-wrapper:hover .ant-radio-inner,
:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner,
:where(.css-2ug2yc).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
:where(.css-2ug2yc).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color: #0C99FF !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-radio-wrapper .ant-radio-checked .ant-radio-inner,
:where(.css-2ug2yc).ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #0C99FF !important;
  background-color: #ffffff !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after,
:where(.css-2ug2yc).ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after,
:where(.css-dev-only-do-not-override-2ug2yc).ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner,
:where(.css-2ug2yc).ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  background-color: #0C99FF !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-radio-wrapper .ant-radio:not(.ant-radio-checked) .ant-radio-inner::after,
:where(.css-2ug2yc).ant-radio-wrapper .ant-radio:not(.ant-radio-checked) .ant-radio-inner::after {
  background-color: #c4c8cc !important;
  transform: scale(0.4) !important;
  opacity: 1 !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-radio-wrapper .ant-radio-inner::after,
:where(.css-2ug2yc).ant-radio-wrapper .ant-radio-inner::after,
:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox-checked .ant-checkbox-inner,
:where(.css-2ug2yc).ant-checkbox-checked .ant-checkbox-inner,
._slider_1ty3h_1 .ant-slider-track {
  background-color: #0C99FF !important;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner:after,
:where(.css-2ug2yc).ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner:after,
:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox .ant-checkbox-input:checked+.ant-checkbox-inner::after,
:where(.css-2ug2yc).ant-checkbox .ant-checkbox-input:checked+.ant-checkbox-inner::after {
  border-color: #000000 !important;
}

.ant-tree-title {
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-2ug2yc).ant-checkbox+span,
:where(.css-2ug2yc).ant-checkbox+span {
  padding-inline-end: 0;
}

:where(.css-2ug2yc).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: #ffffff !important;
  border-color: #0C99FF !important;
}

.ant-breadcrumb-link {
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-1v22rhm).ant-btn-color-link.ant-btn-variant-link,
:where(.css-1v22rhm).ant-btn-color-link.ant-btn-variant-link {
  color: #0C99FF
}

._slider_1ty3h_1 .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #0C99FF !important;
}

// tree
:where(.css-dev-only-do-not-override-a0j3oq).ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-a0j3oq).ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-a0j3oq).ant-tree .ant-tree-switcher:not(.ant-tree-switcher-noop):hover:before {
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-a0j3oq).ant-tree .ant-tree-treenode {
  margin-bottom: 2px;
}

.ant-tree-treenode-selected {
  .ant-tree-switcher {
    background-color: #9194971a;
  }

  .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: #9194971a;
  }
}

.ant-tree-treenode {
  .ant-tree-switcher {
    transition: all 0.2s;

    &::before {
      display: none;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    // &:hover{
    //   .chevron-icon{
    //     background-color: #9194971a;
    //   }
    // }

    &.ant-tree-switcher_open {
      .chevron-icon {
        transform: rotate(90deg);
        transition: .3s rotate ease-out;
      }
    }
  }

  .ant-tree-node-content-wrapper {
    padding: 0;
    overflow: hidden;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    .ant-tree-title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 1;

      &>.operator {
        flex-shrink: 0;
      }
    }
  }

  &:hover {
    .ant-tree-switcher {
      background-color: #9194971a;

      &.ant-tree-switcher-noop {
        background-color: transparent;
      }
    }

    .ant-tree-node-content-wrapper {
      background-color: #9194971a;
    }

    .ant-tree-switcher-noop+.ant-tree-node-content-wrapper {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}

.ant-breadcrumb-separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-breadcrumb-link {
  line-height: 1;
}

:where(.css-dev-only-do-not-override-166jivw).ant-breadcrumb {
  line-height: 1.2em;
}

.custom-table .ant-table-tbody .ant-table-measure-row {
  overflow: hidden;

  &>td {
    padding: 0 !important;
  }
}

.reference-annotation {
  // 垂直居中对齐，确保数字标注与正文文本垂直居中
  display: inline-block;
  vertical-align: baseline;
  // 使用 transform 微调位置，向上移动约半个字符高度，实现与文本视觉居中
  transform: translateY(-0.15em);

  &-tip {
    display: none !important;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    border-radius: 6px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    z-index: auto;
    top: -34px;
    padding: 0 10px;
  }

  &:hover>&-tip {
    display: block !important;

  }
}

:where(.css-vrrzze).ant-btn-variant-solid {
  background-color: #0C99FF !important;
}

:where(.css-dev-only-do-not-override-znr220).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-znr220).ant-input-outlined:focus-within {
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-6uv9r).ant-tabs-top>.ant-tabs-nav,
:where(.css-6uv9r).ant-tabs-top>.ant-tabs-nav {
  margin-bottom: 8px;
}