.settingsDropDown {
  & > ul {
    max-height: 186px;
    overflow: auto;
    padding: 10px;
  }
  & {
    :global(.ant-dropdown-menu) {
      :global(.ant-dropdown-menu-item) {
        margin-bottom: 2px;
        &:hover {
          background-color: transparent;
        }
        padding: 0px;
      }

      &.ant-dropdown-menu-item-selected {
        background: transparent !important;
      }

      &:active {
        background: white !important;
      }
    }
  }
}

