uvicorn
json_repair
tiktoken
elasticsearch==8.18
nebula3-python
openai
tenacity
python-multipart
numpy
pika
boto3
progressbar
uvicorn
PyYAML
Cython==3.1.3
loguru==0.7.3
jieba
markdown==3.10.2
blobfile
markdown-it-py
pillow
