{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react-router-dom$",
    "^antd$",
    "^antd/.*$",
    "<THIRD_PARTY_MODULES>",
    "^@/[^/]*$",
    "^@/.*$",
    "^[./]"
  ]
}
